@model LexiconLMS.Models.ViewModels.Activity.ActivityDetailsViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<hr />
<div>

    @if (User.IsInRole("Teacher"))
    {
        <h4>
            Activity<a asp-controller="Modules" asp-action="Edit" asp-route-id="@Model.Activity.ModuleId">
                <img src="/icons/edit.svg" alt="Edit" style="width:1.4rem" />
            </a>
        </h4>
    }
    else if (User.IsInRole("Student"))
    {
        <h4>
            Activity
        </h4>
    }

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.Module)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.Module.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activity.ActivityType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityType.Name)
        </dd>
    </dl>
</div>


@if (User.IsInRole("Teacher") && Model.Activity.ActivityType.Name == "Assignment")
{
    <hr />
    <h4>Assignment Completion</h4>

    if (Model.Activity.ActivityType.Name == "Assignment")
    {
        <div class="row font-weight-bold">
            <div class="col">
                Uploaders
            </div>
        </div>

        @foreach (var user in Model.Students)
        {
            <div class="row">
                <div class="col">
                    @Html.DisplayFor(modelItem => user.FullName)
                </div>
            </div>
        }
    }
}

    @if (User.IsInRole("Teacher"))
    {

        <hr />
        <div>
            <a asp-controller="AppUsers" asp-action="Teacher" asp-route-id="@Model.Activity.Module.CourseId">Go Back</a>
        </div>
    }
    else if (User.IsInRole("Student"))
    {
        <hr />
        <div>
            <a asp-controller="AppUsers" asp-action="Student" asp-route-id="@Model.Activity.Module.CourseId">Go Back</a>
        </div>
    }
