@model DownloadCourseDocumentViewModel

@{
    ViewData["Title"] = "Download course document";
}

<h1>@ViewData["Title"]</h1>

<h4>Document for @Model.Course.Name</h4>
<hr />


<form id="fileform" asp-action="DownloadCourseDoc" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row custom-file">
        @{
            int counter = 0;
        }

        @foreach (var file in Model.fileList)
        {
            TempData["fil-" + @counter] = @file;
            <li id="customFile" name="file"><a onclick="this.closest('form').submit();return false;" href="@file">@file</a></li>
            < a asp - controller = "Product" asp - action = "GetProduct" asp - route - id = "10" > ProductName </ a >

        }
    </div>
</form>

<ul>
@foreach (var file in Model.fileList)
{
    <li>
        <a asp-action="DownloadCourseDoc" asp-route-file="@file">@file</a>
    </li>
}
</ul>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
