@model DownloadCourseDocumentViewModel

@{
    ViewData["Title"] = "Download course document";
}

<h1>@ViewData["Title"]</h1>

<h4>Document for @Model.Course.Name</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DownloadCourseDoc" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <!--Fix this label, it's a last-resort resolution-->
            <label for="Document">Document</label>
            
            <div class="custom-file" style="margin-bottom:10px">
                <label class="custom-file-label" for="customFile">Choose file</label>
                <input type="file" class="custom-file-input" id="customFile" name="file" value="@Model.DirectoryPath">
            </div>
           
            <div class="form-group">
                <input type="submit" value="Download" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">
    @foreach (var document in Model.documentList)
    {
        <p>@document</p>
    }
</div>


    @*<div>
            <a asp-controller="AppUsers" asp-action="Teacher" asp-route-id="@Model.Course.Id">Go Back</a>
        </div>*@

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
