@*@model IEnumerable<ModuleActivityCreateViewModel>*@
@model IEnumerable<ActivityListViewModel>

<h1>Assignments</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivityTypeId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityTypeId)
                </td>
            </tr>
        }
    </tbody>
</table>
