@model LexiconLMS.Models.ViewModels.ModuleEditViewModel
@inject LexiconLMS.Services.ISelectService service

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Module</h1>

<div class="container">
    <form id="module">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <input type="hidden" asp-for="ModuleId" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ModuleName" class="control-label"></label>
                    <input asp-for="ModuleName" class="form-control" />
                    <span asp-validation-for="ModuleName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ModuleStartTime" class="control-label"></label>
                    <input asp-for="ModuleStartTime" class="form-control" />
                    <span asp-validation-for="ModuleStartTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ModuleEndTime" class="control-label"></label>
                    <input asp-for="ModuleEndTime" class="form-control" />
                    <span asp-validation-for="ModuleEndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="ModuleDescription" class="control-label"></label><br />
                    <textarea asp-for="ModuleDescription" class="form-control" rows="10"></textarea>
                    <span asp-validation-for="ModuleDescription" class="text-danger"></span>
                </div>
            </div>
        </div>
    </form>

    <hr />
    <h4>Add Activities</h4>
    <form class="activityForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <!--<div class="container">-->
        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label asp-for="ActivityTypeId" class="control-label"></label>
                    <select asp-for="ActivityTypeId" asp-items="@await service.SelectActivityTypes()" class="form-control"></select>
                    <span asp-validation-for="ActivityTypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActivityName" class="control-label"></label>
                    <input asp-for="ActivityName" class="form-control" />
                    <span asp-validation-for="ActivityName" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="ActivityStartTime" class="control-label"></label>
                    <input asp-for="ActivityStartTime" class="form-control" />
                    <span asp-validation-for="ActivityStartTime" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ActivityEndTime" class="control-label"></label>
                    <input asp-for="ActivityEndTime" class="form-control" />
                    <span asp-validation-for="ActivityEndTime" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="ActivityDescription" class="control-label"></label><br />
                    <textarea asp-for="ActivityDescription" class="form-control" rows="4">Add activity description here...</textarea>
                    <span asp-validation-for="ActivityDescription" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label for="exampleFormControlSelect2">Module activities</label>
                    <div id="theList" class="rounded bg-light border"></div>
                </div>
            </div>

            <div class="form-group">
                <input onclick="addToList()" type="button" value="Add Activity" class="btn btn-primary" />
            </div>

        </div>

    </form>
</div>
<hr />

<h4>Current Activities</h4>


<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Activities[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activities[0].StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activities[0].EndTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activities[0].ActivityType)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Activities)
            {
                <tr>
                    <td>
                        <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityType.Name)
                    </td>
                    <td >
                        <a class="activitycells" data-activityid="@item.Id">
                            <img id="deleteicon" src="~/icons/delete.svg" />
                        </a>
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>



<div class="form-group">
    <input onclick="sendJsonToEdit()" type="button" value="Save Changes" class="btn btn-primary" />
</div>



<div>
    <a asp-controller="AppUsers" asp-action="Teacher" asp-route-id="@Model.CourseId">Back to Course</a>
</div>


@*--------------------Delete Modal----------------*@

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aModalLabel">Delete activity?</h5>
            </div>
            <div class="modal-body">
                <p>Connected documents will also be deleted.</p>
                @*<a class="btn btn-danger" id="deleteact" method="post">Delete</a>*@
                @*<button type="button" id="deleteact" class="btn btn-danger" method="post">Delete</button>*@
                

            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" id="deleteact" method="post">Delete</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
