@model IEnumerable<ModuleListViewModel>

<h2>Modules</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12">
            @*GetModuleActivityListAsync(int moduleId)   asp-controller="AppUser" asp-action="GetModuleActivityListAsync(@item.Id)" *@
            <a asp-controller="AppUsers" asp-action="GetModuleActivityListAsync" asp-route-id="@item.Id">
                @if (item.IsCurrentModule)
                {
                    <div type="button" class="btn btn-success"
                         data-ajax="true"
                         data-ajax-method="GET"
                         data-ajax-update="#col-modules"
                         data-ajax-mode="replace"
                         >@item.Name <br /> @item.StartTime <br />@item.EndTime</div>
                }
                else
                {
                    <div type="button" class="btn btn-dark">@item.Name <br /> @item.StartTime <br /> @item.EndTime</div>
                }
            </a>
        </div>
    </div>
 }
    