@model StudentViewModel

@{
    ViewData["Title"] = "Student";
}

<h2>@Html.DisplayFor(modelItem => Model.AppUser.FullName)</h2>

<!--Current-->
<partial name="StudentCurrentPartial" model="@Model.CurrentViewModel"/>

<!--Modules-->
<div class="container cont-section" id="modules">
    <div class="row row-modules">
        <div class="col-sm-12">
            <partial name="StudentModuleListPartial" model="@Model.ModuleList" />
        </div>
    </div>
</div>

<!--Activities-->
<div class="container cont-section" id="activities">
    <div class="row row-activities">
        <div class="col-sm-12">
            <partial name="StudentActivityListPartial" model="@Model.ActivityList" />
        </div>
    </div>
</div>

<!--Assignments-->
<div class="container" id="assignments">
    <div class="row row-assignments">
        <div class="col-sm-12">
            <partial name="StudentAssignmentListPartial" model="@Model.AssignmentList" />
        </div>
    </div>
</div>

