@model IEnumerable<ModuleListViewModel>

<h2>Modules</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <a asp-action="GetActListAjax" asp-route-id="@item.Id"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-update="#col-activities"
               data-ajax-mode="replace">
                @if (item.IsCurrentModule)
                {
                    <div type="button" class="btn btn-success">
                        @item.Name <br /> @item.StartTime <br />@item.EndTime</div>
                }
                else
                {
                    <div type="button" class="btn btn-dark">
                        @item.Name <br /> @item.StartTime <br /> @item.EndTime</div>

                }
            </a>
        </div>
    </div>
 }
    