@model IEnumerable<ActivityListViewModel>

<h2>Activities</h2>

<div id="activity-header-row" class="row">
    <div class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.ActivityType)
    </div>
    <div class="col-sm-1">
       
    </div>
</div>

@foreach (var item in Model)
{
<div class="row">
    <div class="col-sm-2">
        <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(modelItem => item.StartTime)
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(modelItem => item.EndTime)
    </div>
    <div class="col-sm-3">
        @Html.DisplayFor(modelItem => item.ActivityType)
    </div>
    <div class="col-sm-1">
        <a asp-controller="Documents" asp-action="DownloadActivityDoc" asp-route-id="@item.Id">
            <img id="download-activity-doc-icon" class="icon-img" src="~/icons/share.svg" style="transform: rotate(180deg);" />
        </a>
    </div>
</div>
}

