@model CurrentViewModel

<div class="container" id="current">
    <div class="row">
        <div class="col-sm-12">
            <h2>@Model.CourseName</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div id="card-mod-act" class="card">
                <div class="card-body">
                    <h5>Current module</h5>
                     <p class="card-text">
                         @Model.Module.Name
                        @*<a href="../../Modules/Details/@Model.AppUser.Course.Modules.First().Id">
                            @Model.AppUser.Course.Modules.First().Name<i class="material-icons">chevron_right</i>
                        </a>*@
                    </p>
                    <h5>Current activity</h5>
                    <p class="card-text">
                        @Model.Activity.Name
                        @*<a href="../../Activities/Details/@Model.AppUser.Course.Modules.First().Activities.First().Id">
            @Model.AppUser.Course.Modules.First().Activities.First().Name
            <i class="material-icons">chevron_right</i>
        </a>*@
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-7">
            <div id="card-hand-ins" class="card">
                <div class="card-body">
                    <h5 class="card-title">Upcoming assignments</h5>
                    <div class="row" id="ass-head-row">
                        <div class="col col-sm-4"></div>
                        <div class="col col-sm-4">Due date</div>
                        <div class="col ass-col col-sm-4">Finished</div>
                    </div>

                    @*<div class="row">
                        <div class="col col-sm-4"><a href="#">@Model.AssignmentList.First().Name</a></div>
                        <div class="col col-sm-4">@Model.AssignmentList.First().EndTime</div>
                        <div class="col ass-col col-sm-4"><input type="checkbox" class="form-check-input" id="check-ass-1"></div>
                    </div>*@

                    <div class="row">
                        <div class="col col-sm-4"><a href="#">Assignment 2</a></div>
                        <div class="col col-sm-4">2020-12-01</div>
                        <div class="col ass-col col-sm-4"><input type="checkbox" class="form-check-input" id="check-ass-2"></div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-4"><a href="#">Assignment 3</a></div>
                        <div class="col col-sm-4">2020-12-01</div>
                        <div class="col ass-col col-sm-4"><input type="checkbox" class="form-check-input" id="check-ass-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
