@model IEnumerable<LexiconLMS.Models.ViewModels.AppUserListViewModel>

<thead>
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.FullName)*@
            <a asp-action="TeacherUserIndex" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.FullName)</a>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Email)*@
            <a asp-action="TeacherUserIndex" asp-route-sortOrder="@ViewData["EmailSortParm"]">@Html.DisplayNameFor(model => model.Email)</a>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Course)*@
            <a asp-action="TeacherUserIndex" asp-route-sortOrder="@ViewData["CourseSortParm"]">@Html.DisplayNameFor(model => model.Course)</a>
        </th>

        <th></th>
    </tr>
</thead>


<tbody>
    @foreach (var item in Model)
    {
        @if (!item.IsTeacher)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-controller="AppUsers" asp-route-id="@item.AppUserId">@Html.DisplayFor(modelItem => item.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                @if (User.IsInRole("Teacher"))
                {
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.AppUserId">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.AppUserId">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.AppUserId">Delete</a>*@
                <a asp-action="Edit" asp-route-id="@item.AppUserId">
                    <img id="editicon" src="/icons/edit.svg" alt="Edit" />
                </a> &nbsp;
                <a asp-action="Details" asp-route-id="@item.AppUserId">
                    <img id="detailsicon" src="/icons/info.svg" alt="Details" />
                </a> &nbsp;
                <a asp-action="Delete" asp-route-id="@item.AppUserId">
                    <img id="deleteicon" src="/icons/delete.svg" alt="Delete" />
                </a>
            </td>
                }
            </tr>
        }
    }
</tbody>