@model IEnumerable<LexiconLMS.Models.ViewModels.AppUserListViewModel>
@inject UserManager<AppUser> UserManager

<thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>
</thead>


<tbody>
    @foreach (var item in Model)
    {
        @if (item.IsTeacher)
        {
            <tr>
                <td>
                    <a asp-action="Edit" asp-controller="AppUsers" asp-route-id="@item.AppUserId">@Html.DisplayFor(modelItem => item.FullName)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                @if (User.IsInRole("Teacher"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.AppUserId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.AppUserId">Details</a> |
                        @if (UserManager.GetUserId(User).Equals(item.AppUserId))
                        {
                            <a>Delete</a>
                        }
                        else
                        {
                            <a asp-action="Delete" asp-route-id="@item.AppUserId">Delete</a>
                        }
                    </td>
                }
            </tr>
        }
    }
</tbody>