@model IEnumerable<Course>

<table id="courseindex" class="table table-sm">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Name)*@
                <a asp-action="TeacherHome" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StartTime)*@
                <a asp-action="TeacherHome" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.StartTime)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <a asp-action="Teacher" asp-controller="AppUsers" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>

            <td>
                <a asp-controller="Courses" asp-action="Edit" asp-route-id="@item.Id">
                    <img id="editicon" src="/icons/edit.svg" alt="Edit" />
                </a> &nbsp;
                <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Id">
                    <img id="detailsicon" src="/icons/info.svg" alt="Details" />
                </a> &nbsp;
                <a asp-controller="Courses" asp-action="Delete" asp-route-id="@item.Id">
                    <img id="deleteicon" src="/icons/delete.svg" alt="Delete" />
                </a>
            </td>

        </tr>
        }
    </tbody>
</table>
