@model TeacherViewModel

@{
    ViewData["Title"] = "Teacher";
}

<!--Current-->
<div class="container cont-section" id="current">
    <div class="row row-activities">
        <div class="col-sm-12">
            <partial name="TeacherCurrentPartial" model="@Model.Current" />
        </div>
    </div>
</div>

<!--Modules and Activities-->
@if (Model.ModuleList != null)
{
    <partial name="TeacherModuleAndActivityPartial" model="@Model" />
    <a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Current.Course.Id">Add Modules and Activities
            @*<img src="~/icons/plus.svg" style="width:7rem;">*@
    </a>
}

<!--Assignments-->
<div class="container cont-section" id="assignments">
    <div class="row row-activities">
        <div class="col-sm-12">
            @if (Model.ModuleList != null && Model.AssignmentList != null)
            {
                <partial name="TeacherAssignmentPartial" model="@Model.AssignmentList" />
            }
        </div>
    </div>
    <div id="row-add-assignment" class="row justify-content-center">
        <a asp-controller="Modules" asp-action="Create" asp-route-id="@Model.Current.Course.Id" id="btn-teacher-add-assignment" class="btn btn-primary"><i class="material-icons">post_add</i>Add assignment</a>
    </div>
</div>
