@model IEnumerable<TeacherModuleViewModel>

<h2>Modules</h2>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-12">
            <a asp-action="GetTeacherActivityAjax" asp-route-id="@item.Id"
               data-ajax="true"
               data-ajax-method="GET"
               data-ajax-update="div#cont-modules-and-activities"
               data-ajax-mode="replace-with">
                @if (item.IsCurrentModule)
                {
                    <div type="button" class="btn btn-success btn-module">
                        @item.Name <br /> @item.StartTime <br />@item.EndTime
                    </div>
                }
                else
                {
                    <div type="button" class="btn btn-dark btn-module">
                        @item.Name <br /> @item.StartTime <br /> @item.EndTime
                    </div>
                }
            </a>
        </div>
    </div>
}
