@model IEnumerable<TeacherAssignmentListViewModel>

<h2>Assignments</h2>

<div class="row">
    <div class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.StartTime)
    </div>
    <div class="col-sm-3">
        @Html.DisplayNameFor(model => model.EndTime)
    </div>
    <div class="col-sm-1">
        @Html.DisplayNameFor(model => model.Finished)
    </div>
    <div class="col-sm-3">
        @*Nada*@
    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-2">
            <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id">@item.Name</a>
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.StartTime)
        </div>
        <div class="col-sm-3">
            @Html.DisplayFor(modelItem => item.EndTime)
        </div>
        <div class="col-sm-1">
            @Html.DisplayFor(modelItem => item.Finished)
        </div>
        <div class="col-sm-3">
            <a asp-controller="Activities" asp-action="Edit" asp-route-id="@item.Id"><i class="material-icons">edit</i></a>
            <a asp-controller="Activities" asp-action="Details" asp-route-id="@item.Id"><i class="material-icons">description</i></a>
            <a asp-controller="Activities" asp-action="Delete" asp-route-id="@item.Id"><i class="material-icons">delete</i></a>
        </div>
     }
</div>
